#background{
	background-image: url("../image/demo.png");
	width: 100%;
	height: 970px;
	padding-top: 50px;
	padding-left: 80px;
	padding-bottom: 50px;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.bg-light {
    background-color: #f8f9fa00!important;
}

.nav {
    padding-right: 100px;
    float: right;
    margin-left: 50px;
    font-size: 24px;
    color: #3B4BAB;
}

a.hover{
	background-color: yellow;
}
.menu {
    /*padding-right: 20px;*/
    margin-left: 50px;
}

.home {
    float: left;
}

.navbar-brand {
    font-size: 24px;
}

.img {
    width: 200%;
    height: 200%;
    padding-top: 70px;
}

.h1 {
    padding-top: 100px;
    font-size: 80px;
    letter-spacing: 1px;
    color: #083e75;
    font-family: "Lato";
}

h5 {
    color: #3B4BAB;
    font-size: 35px;
    font-family: "Lato";
}

.navbar-inverse .navbar-nav>li>a {
    color: #083e75;
}

.navbar-inverse .navbar-brand {
    color: #083e75;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    padding-bottom: 75px;
}

img {
    vertical-align: middle;
    padding-top: 57px;
}

.btt {
    font-size: 20px;
    letter-spacing: 0px;
    color: #345EBD;
    font-family: "Lato";
    font-weight: 700;
    /*padding-left: 10px;*/
    border-radius: 10px;
    border: none;
    background-color: #8DEAF8;
}

#start {
    padding-left: 30px;
    float: left;
    margin-right: 45px;
    text-align: center;
}

#Learn {
    padding-left: 30px;
    float: left;
    margin-right: 45px;
    text-align: center;
}

.icon {
    float: left;
    height: 10%;
    width: 10%;
}

.icon-child {
    display: none;
}

.dad-icon {
    padding-top: 75px;
}

/* For desktop: */
.navbar-inverse {
    background-color: unset;
    border: none;
    color: #3B4BAB;
}

@media screen and (max-width: 800px) {
    a:not(:first-child) {
        display: block;
    }

    .icon-child {
        float: right;
        display: block;
    }

    .h1 {
        width: 100%;
        text-align: center;
        padding-top: 45px;
        font-size: 47px;
    }

    .h5 {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .img {
        width: 80%;
        margin-left: 64px;
        padding-top: 100px;
    }

    .h5 {
        text-align: center;
        margin-left: 40px;
    }

    #Start {
        float: left;
        margin-left: 55px;
        margin-bottom: 45px;
        text-align: center;
    }

    #Learn {
        float: left;
        margin-left: 145px;
        margin-bottom: 45px;
        text-align: center;
    }

    .btt {
        font-size: 25px;
    }
}
}

@media screen and (max-width: 576px) {
    a:not(:first-child) {
        display: block;
    }

    .icon-child {
        float: right;
        display: block;
    }

    .h1 {
        width: 100%;
        text-align: center;
        padding-top: 45px;
        font-size: 47px;
    }

    .h5 {
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
    }

    .img {
        width: 80%;
        margin-left: 64px;
        padding-top: 100px;
    }

    .h5 {
        text-align: center;
        margin-left: 40px;
    }

    #Start {
        float: left;
        margin-left: 164px;
        margin-bottom: 45px;
        text-align: center;
    }

    #Learn {
        float: left;
        margin-left: 145px;
        margin-bottom: 45px;
        text-align: center;
    }

    .btt {
        font-size: 25px;
    }
}

@media screen and (max-width: 478px) {
    a:not(:first-child) {
        display: block;
    }

    .icon-child {
        float: right;
        display: block;
    }

    .h1 {
        width: 100%;
        text-align: center;
        padding-top: 45px;
        font-size: 47px;
    }

    .h5 {
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
    }

    .img {
        width: 80%;
        margin-left: 64px;
        padding-top: 100px;
    }

    .h5 {
        text-align: center;
        margin-left: 40px;
    }

    #Start {
        float: right;
	    margin-top: -2px;
	    margin-bottom: 44px;
	    padding-top: 9px;
	    margin-right: 77px;
	    text-align: center;
	}

    #Learn {
        margin-left: 70px;
        text-align: center;
    }

    .btt {
        font-size: 25px;
    }
}

